
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="/adminlte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">SISTEM JOBDESK</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
    
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
         
            <li class="nav-item">
                <a href="pages/calendar.html" class="nav-link">
                  <i class="nav-icon fas fa-home"></i>
                  <p>
                    Beranda
                  </p>
                </a>
              </li>

          <li class="nav-header">PDDIKTI</li>
          <li class="nav-item">
            <a href="/tutorial" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                NIDN/NUPN/NIDK
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/tutorial2" class="nav-link">
              <i class="nav-icon fas fa-tasks"></i>
              <p>
                Homebase Internal
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/tutorial3" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Homebase Eksternal
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/tutorial4" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Tugas Belajar / Izin Belajar
              </p>
            </a>
          </li>
          <li class="nav-header">SISTER</li>
          <li class="nav-item">
            <a href="/tutorial" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Validasi Data SISTER
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/tutorial" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                SERDOS
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/tutorial" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                BKD
              </p>
            </a>
          </li>
          <li class="nav-header">SERUNI</li>
          <li class="nav-item">
            <a href="/tutorial" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Tunjangan SERDOS
              </p>
            </a>
          </li>
          <li class="nav-header">SINGKRON</li>
          <li class="nav-item">
            <a href="/tutorial" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Jabatan Fungsional
              </p>
            </a>
          </li>
          <li class="nav-header">SDM PDDIKTI</li>
          <li class="nav-item">
            <a href="/tutorial" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                NITK
              </p>
            </a>
          </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>