<h5 class="card-title">HOMEBASE EKSTERNAL</h5>
    <p class="card-text">Silahkan lihat dokumen dengan klik tombol di  bawah ini !</p>
    <a href="https://drive.google.com/drive/folders/1R00SY2T78NhVBOWfZLuWhNnN7dvd9fNC?usp=share_link" class="btn btn-primary">Dokumen</a>