<h5 class="card-title">TUGAS BELAJAR / IZIN BELAJAR</h5>
    <p class="card-text">Silahkan lihat dokumen dengan klik tombol di  bawah ini !</p>
    <a href="https://drive.google.com/drive/folders/1qyjGBZhGXo-DFSMhdzMdaxG2abD0z1FH?usp=share_link" class="btn btn-primary">Dokumen</a>